name: Render and Publish Docs

on:
  push:
    branches: [ main ]
    # Only run if Quarto files or configuration are changed
    paths:
      - 'docs/**/*.qmd'
      - 'docs/_quarto.yml'
      - 'docs/index.qmd'

permissions:
  contents: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      # Optional: Install Python dependencies if your .qmd files 
      # use Jupyter code blocks.
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
          path: docs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
